# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_CRESK_CHOC_NRF52840_LEFT
	bool "cresk_choc_nrf52840_left"
	depends on SOC_NRF52840_QIAA

config BOARD_CRESK_CHOC_NRF52840_RIGHT
	bool "cresk_choc_nrf52840_right"
	depends on SOC_NRF52840_QIAA

config BOARD_CRESK_CHOC_NRF52833_LEFT
	bool "cresk_choc_nrf52833_left"
	depends on SOC_NRF52833_QIAA

config BOARD_CRESK_CHOC_NRF52833_RIGHT
	bool "cresk_choc_nrf52833_right"
	depends on SOC_NRF52833_QIAA
